[submodule "backend"]
	path = backend
	url = https://github.com/Just-A-Pixel/Whatsapp-Scheduler-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Just-A-Pixel/Whatsapp-Scheduler-Frontend.git
